/* General Styles */

.bg {
  height  : 100vh;
  padding : 50px;
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
}

button {
  border       : none;
  padding      : 10px 30px;
  border-radius: 4px;
  margin-top   : 20px;
  font-size    : 15px;
  cursor       : pointer;
}

p{
  width: 70vw;
}

/* Light Mode Styles */

.light {
  background-color: #fff;
}

.light h1 {
  color: #222;
}

.light p {
  color: #222;
}

.light button {
  background-color: #222;
  color           : #fff;
  font-size       : 15px;
  cursor          : pointer;
}

/* Dark Mode Styles */

.dark {
  background-color: #222;
}

.dark h1 {
  color: #fff;
}

.dark p {
  color: #fff;
}

.dark button {
  background-color: #fff;
  color           : #222;
}